@import "collors";

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $green;
    padding: 62px 32px;
    hr {
        width: 40px;
        height: 1px;
        margin: 17px 0;
        background-color: $yellow;
    }
    .copy {
        width: 30%;
        margin-bottom: auto;
        p {
            color: $yellow;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            text-decoration: none;
        }
    }
    .explore, .help {
        width: 25%;
        p {
            color: $yellow;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 1.575px;
            text-transform: uppercase;
        }
        a {
            color: $yellow;
            display: inline-block;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            margin-bottom: 17px;
            text-transform: uppercase;
            text-decoration: none;
        }
        .nav-list {
            &:after {
                content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8' fill='none'%3E%3Cpath d='M9.00059 0L4.99824 5.3336L1 0.00559998L0 1.3384L4.99882 8L10 1.3336L9.00059 0Z' fill='black'/%3E%3C/svg%3E");
                position: relative;
                top: -5px;
                display: inline-block;
                height: 8px;
                margin: 0 5px;
            }
        }
    }
    .contacts {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: auto;
    }
}