@import "collors";

.header {
    max-width: 1440px;
    margin: 0 auto;
    padding: 8px;
    &__leadge {
        background-color: $yellow;
        padding-top: 16px;
    }
    &__nav {
        padding: 30px 32px 20px 32px;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            color: $green;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 1.575px;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
    &__left {
        width: 40%;
        display: flex;
        align-items: center;
        column-gap: 25px;
        position: relative;
        flex-wrap: wrap;
    }
    &__right {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        column-gap: 15px;
        position: relative;
        a.cart::after {
            content: '0';
            position: absolute;
            font-family: Roboto;
            bottom: -5px;
            right: -5px;
            line-height: 1;
            background: $yellow;
            padding: 2px 5.5px;
            color: $green;
            border-radius: 50px;
            letter-spacing: normal;
        }
    }
}

//========-----===-----========//
//===----[MOBILE NAVBAR]----===//
//========-----===-----========//

$color_1: #cdcdcd;
$color_2: #232323;
$color_3: tomato;
$font-family_1: "Roboto", "Avenir", sans-serif;

#menuToggle {
	display: none;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
	a {
		text-decoration: none;
		color: $color_2;
		transition: color 0.3s ease;
		&:hover {
			color: $color_3;
		}
	}
	input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		-webkit-touch-callout: none;
		&:checked {
			~ {
				span {
					opacity: 1;
					transform: rotate(45deg) translate(-2px, -1px);
					background: $color_2;
					&:nth-last-child(3) {
						opacity: 0;
						transform: rotate(0deg) scale(0.2, 0.2);
					}
					&:nth-last-child(2) {
						transform: rotate(-45deg) translate(0, -1px);
					}
				}
				ul {
					transform: none;
				}
			}
		}
	}
	span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;
		background: $color_1;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
		&:first-child {
			transform-origin: 0% 0%;
		}
		&:nth-last-child(2) {
			transform-origin: 0% 100%;
		}
	}
}
#menu {
	position: absolute;
	width: 430px;
	margin: -100px 0 0 -50px;
	padding: 50px;
	padding-top: 125px;
	background: #ededed;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(-100%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    li, .dropdown {
        padding: 10px 0;
    }
	li, .dropdown a {
		font-size: 22px;
	}
}