@import "./components/header";
@import "./components/footer";
@import "./components/collors";
@import "./components/blocks";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 8px;
}